* {
	font-family: tahoma;
}

#banner, #footer {
	background-color: saddlebrown;
	color: white;
	padding: 3px;
	text-align: center;
	clear: both;
}

#main-left, #main-right {
	background-color: tan;
	height: 400px;
	width: 40%;
	float: left;
}

#main-middle {
	background-color: wheat;
	height: 400px;
	width: 20%;
	float: left;
}

img {
	margin-right: 20px;
	float: right;
}

h4 {
	text-align: center;
}

li:hover {
	background-color: sienna;
	color: white;
}

input[type="text"], input[type="number"] {
	margin: 5px;
}






/*
− Dla selektora nagłówka czwartego stopnia: wyrównanie tekstu do środka
− Dla selektora pola edycyjnego: marginesy zewnętrzne 5 px
− Po najechaniu na element listy, jego tło jest zmieniane na Sienna a kolor czcionki na biały*/